<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="resources/style.css" th:href="@{/resources/style.css}"/>
</head>
<body>
<h1>Список книг</h1>

<table border="1px" class="table">
    <tr class="title">
        <th width="80">ID</th>
        <th width="120">Title</th>
        <th width="120">Author</th>
        <th width="120">Price</th>
        <th width="120">Delete</th>
    </tr>
    <tr class="info_title" th:each="books:${listBooks}">
        <td th:text="${books.getId()}"></td>
        <td th:text="${books.getBookTitle()}"></td>
        <td th:text="${books.getBookAuthor()}"></td>
        <td th:text="${books.getBookPrice()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/books/{id}(id=${books.getId()})}">
                <input type="submit" value="DELETE"/>
            </form>
        </td>
    </tr>
</table>
    <a class="linkCreate" href="/books/new"><p>Create</p></a>
</body>
